<!DOCTYPE html>
<html>
<head>
	<title>layout card</title>
	<style type="text/css">
		* {
			margin: 0 auto;
			padding: 0;
		}
		.ortu {
			display: flex;
			padding-left: 0;
			padding-right: 30px;
			margin-top: 100px;
			margin-left: 100px;
			margin-right: 100px;
		}
		img {
			margin-right: 20px;

		}
		.text {
			padding: 15px;
			background-color: khaki;
		}
		.text h3,p{
			margin-bottom: 20px;
		}

	</style>
</head>
<body>
    <div class="ortu">
    	<div>
    		<img src="https://www.rumah123.com/seo-cms/assets/gambar_rumah_estetik_6aee5fe9d0/gambar_rumah_estetik_6aee5fe9d0.jpeg" width="100%">
    	</div>
    	<div class="text">
    		<h3>TEMPAT TERNYAMAN</h3>
    		<p>Apa itu kenyamanan</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    		cillum dolore eu fugiat nulla pariatur.</p>
    	</div>
    </div>
</body>
</html>