* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
	height: 100vh;
}
.content1 {
	background-image: url(https://i.pinimg.com/564x/c5/a0/48/c5a0488d9f85b44ea18275c1f724169b.jpg);
	background-size: cover;
	height: 610px;
	background-repeat: no-repeat;
	background-position: center;
}
.nav1 {
	display: flex;
	justify-content: center;
	gap : 30px;
	text-align: center;
	align-items: center;
	margin-bottom: 15%;
}
a {
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	color: white;
}
.link1,.link2,.link3,.link4 {
	margin-top: 17px;
}
.link4 {
	border-radius: 5px;
	padding: 5px;
	border: 2px solid white;
}
.nav2 h1{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: white;
	font-size: 30px;
	letter-spacing: 20px;
}
.nav2 p {
	color: white;
	font-size: 14px;
	margin-top: 15px;
	text-align: center;
	align-items: center;
	letter-spacing: 8px;
}

.content2 {
	background-color: #e9fac8;
	margin: 0 auto;
	align-items: center;
	padding: 81px ;
}
.articles h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #495057;
	font-size: 20px;
	margin-bottom: 28px;
}
.gambar {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap : 17px;
}
.img {
	background-color: white;
	padding: 0px;
	width: 50%;
	color: black;
}
.text {
	padding: 15px;
	color: #495057;
	text-align: center;
	
}
.text p {
	padding: 10px;
	font-size: 11px;
	text-align: center;
}
.content3 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.anak {	
	padding: 0px;
	width: 50%;
}
.parthner{
	width: 50%;
	padding: 15px;
}
.parthner h2{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 20px;
}
.parthner p {
	font-size: 12px;
}

@media (max-width: 384px){
	.gambar {
		flex-direction: column !important;
	}
	.text {
		width: 90%;
	}
	.img {
		width: 100%;
	}
}